.u-btn {
    display: table;
    cursor: pointer;
    color: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
    text-decoration: none;
    border: 0 none transparent;
    outline-width: 0;
    background-color: transparent;
    margin: 0;
    -webkit-text-decoration-skip: objects;
    font-style: initial;
    white-space: nowrap;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    text-align: center;
    padding: 10px 30px;
    border-radius: 0;
    align-self: flex-start;
}

a,p,strong,span {
    font-family: Abel;
}

.u-btn-round {
    border-radius: 4px;
}

.u-text a {
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    font-family: inherit;
    line-height: inherit;
    letter-spacing: inherit;
    text-transform: inherit;
}

.u-link,a {
    border-top-width: 0;
    border-left-width: 0;
    border-right-width: 0;
}

*,*:before,*:after {
    box-sizing: border-box;
}

html {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

body,section,header,footer {
    position: relative;
}

section > *,header > *,footer > *,.u-sheet > * {
    position: relative;
}

a {
    color: #259bca;
    text-decoration: none;
}

a:hover {
    color: #0676a4;
}

.u-clearfix:after,.u-clearfix:before {
    content: '';
    display: table;
}

.u-clearfix:after {
    clear: both;
}

.u-opacity-75,.u-opacity-75:before {
    opacity: 0.75;
}

.u-border-none {
    border-width: 0 !important;
}

.u-text-default {
    display: table;
    align-self: flex-start;
}

.u-image {
    object-fit: cover;
    display: block;
    vertical-align: middle;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

img.u-image {
    overflow: hidden;
}

.u-sheet {
    position: relative;
    width: 1140px;
    margin: 0 auto;
}

.u-sheet {
	width: 940px;
}

.u-container-layout {
    position: relative;
    flex: 1;
    max-width: 100%;
}

.u-container-layout > * {
    position: relative;
}

.u-valign-middle,.u-valign-bottom {
    display: flex;
    flex-direction: column;
}

.u-valign-middle > *,.u-valign-bottom > * {
    flex-shrink: 0;
}

.u-valign-middle {
    justify-content: center;
}

.u-group .u-container-layout > * {
    position: relative;
}

.u-group {
    display: flex;
}

html {
    font-size: 16px;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
    line-height: 1.2;
    font-weight: 500;
    color: inherit;
}

h1 {
    font-size: 2.25rem;
}

h2 {
    font-size: 1.5rem;
}

p {
    margin-top: 0;
    padding: 0;
    margin-bottom: 0.5rem;
}

.u-align-left {
    text-align: left;
}

.u-align-left-lg {
	text-align: left;
}

.u-align-center {
    text-align: center;
}

.u-align-center-lg {
	text-align: center;
}

.u-text {
    word-wrap: break-word;
    position: relative;
}

.u-font-lato.u-custom-font {
    font-family: Lato, sans-serif !important;
}

.u-container-style.u-opacity,.u-group.u-opacity {
    background-color: transparent !important;
    opacity: 1;
}

.u-container-style.u-opacity:before,.u-group.u-opacity:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.u-button-style[class*="u-custom-color-"],.u-button-style[class*="u-palette-"],.u-button-style[class*="u-gray-"],.u-button-style.u-white {
    border-width: 0;
}

.u-text .u-btn {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    vertical-align: baseline;
    white-space: normal;
    text-align: inherit;
}

.u-text .u-btn.u-button-link {
    display: inline;
}

[class*="u-border-"],.u-link[class*="u-border-"] {
    border-style: solid;
}

h1,h2,h3,h4,h5,h6 {
    font-family: Roboto,sans-serif;
}

.u-image {
    color: #111111;
}

.u-none.u-button-style,.u-none.u-button-style:hover,.u-none.u-button-style:focus,.u-none.u-button-style:active,.u-none.u-button-style.active,.u-button-style.u-hover-none:hover,.u-button-style.u-hover-none:focus,.u-button-style.u-active-none:active,.u-button-style.u-active-none.active {
    color: inherit !important;
    background-color: transparent !important;
}

.u-button-style.u-border-none,.u-button-style.u-border-hover-none:hover,.u-button-style.u-border-hover-none:focus,.u-button-style.u-border-active-none:active,.u-button-style.u-border-active-none.active {
    border-color: transparent !important;
    border-width: 0;
}

.u-palette-3-base,.u-body.u-palette-3-base,.u-container-style.u-palette-3-base:before {
    color: #111111;
    background-color: #f1c50e;
}

.u-button-style.u-palette-3-base,.u-button-style.u-palette-3-base[class*="u-border-"] {
    color: #111111 !important;
    background-color: #f1c50e !important;
}

.u-button-style.u-palette-3-base:hover,.u-button-style.u-palette-3-base[class*="u-border-"]:hover,.u-button-style.u-palette-3-base:focus,.u-button-style.u-palette-3-base[class*="u-border-"]:focus,.u-button-style.u-button-style.u-palette-3-base:active,.u-button-style.u-button-style.u-palette-3-base[class*="u-border-"]:active,.u-button-style.u-button-style.u-palette-3-base.active,.u-button-style.u-button-style.u-palette-3-base[class*="u-border-"].active {
    color: #111111 !important;
    background-color: #d9b10d !important;
}

.u-white,.u-body.u-white,.u-container-style.u-white:before {
    color: #111111;
    background-color: #ffffff;
	border-radius: 6px;
}

.u-text-palette-1-base,a.u-button-style.u-text-palette-1-base,a.u-button-style.u-text-palette-1-base[class*="u-border-"] {
    color: #478ac9 !important;
}

.u-custom-color-1,.u-body.u-custom-color-1,.u-container-style.u-custom-color-1:before {
    color: #111111;
    background-color: #2cecb1;
}

.u-button-style.u-custom-color-1,.u-button-style.u-custom-color-1[class*="u-border-"] {
    color: #111111 !important;
    background-color: #2cecb1 !important;
}

.u-button-style.u-custom-color-1:hover,.u-button-style.u-custom-color-1[class*="u-border-"] {
    color: #111111 !important;
    background-color: #15e7a7 !important;
}

.u-custom-color-2,.u-body.u-custom-color-2,.u-container-style.u-custom-color-2:before {
    color: #ffffff;
    background-color: #0e79f2;
}

.u-button-style.u-custom-color-2,.u-button-style.u-custom-color-2[class*="u-border-"] {
    color: #ffffff !important;
    background-color: #0e79f2 !important;
}

.u-button-style.u-custom-color-2:hover,.u-button-style.u-custom-color-2[class*="u-border-"]:hover,.u-button-style.u-custom-color-2:focus,.u-button-style.u-custom-color-2[class*="u-border-"]:focus,.u-button-style.u-button-style.u-custom-color-2:active,.u-button-style.u-button-style.u-custom-color-2[class*="u-border-"]:active,.u-button-style.u-button-style.u-custom-color-2.active,.u-button-style.u-button-style.u-custom-color-2[class*="u-border-"].active {
    color: #ffffff !important;
    background-color: #0c6ddb !important;
}

h2.u-subtitle {
    font-weight: 400;
    font-size: 2.25rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
}

h1:not(.u-title) {
    font-weight: 400;
    font-size: 3rem;
    line-height: 1.1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.u-btn {
    margin-top: 20px;
    margin-bottom: 20px;
}

a {
    color: #478ac9;
}

a:hover {
    color: #387cbd;
}

.u-btn {
    background-color: #478ac9;
    color: #ffffff;
}

.u-btn:hover {
    background-color: #387cbd;
    color: #e6e6e6;
}

.u-section-1 .u-sheet-1 {
}

.u-section-1 .u-group-1 {
    width: 800px;
    background-image: none;
    margin: 220px auto;
}

.u-section-1 .u-container-layout-1 {
    padding: 20px 30px;
}

.u-section-1 .u-image-1 {
    width: 288px;
    height: 288px;
    margin: 42px auto 0 0;
}

.u-section-1 .u-group-2 {
    width: 453px;
    min-height: 125px;
    margin: -329px 0 0 auto;
}

.u-section-1 .u-container-layout-2 {
    padding: 30px 0 0;
}

.u-section-1 .u-text-1 {
    font-family: Abel;
    font-weight: 700;
    margin: -22px 0 0;
}

.u-section-1 .u-text-2 {
    font-size: 1.875rem;
    margin: 16px 13px 0;
}

.u-section-1 .u-btn-1 {
    padding: 0;
}

.u-section-1 .u-group-3 {
    width: 373px;
    min-height: 236px;
    margin: 10px 40px 0 auto;
}

.u-section-1 .u-container-layout-3 {
    padding: 0 30px;
}

.u-section-1 .u-text-3 {
    margin: 0 auto;
}

.u-section-1 .u-btn-2 {
    padding: 0;
}

.u-section-1 .u-btn-3 {
    border-style: none;
    background-image: none;
    align-self: center;
    margin: 5px auto 0 0;
    padding: 10px 43px;
}

.u-section-1 .u-btn-4 {
    border-style: none;
    background-image: none;
    margin: 10px auto 0 0;
    padding: 10px 102px;
}

.u-section-1 .u-btn-5 {
    border-style: none;
    background-image: none;
    margin: 10px auto 0 0;
    padding: 10px 105px;
}

.u-section-1 .u-text-4 {
    margin: 16px auto 0;
}

.u-section-1 .u-btn-6 {
    padding: 0;
}

	html {
    font-size: 16px;
}
