body {
    padding: 0;
    margin: 0;
    background: url("images/wallpaper.jpg");
    font-family: "Poppins", sans-serif;
    width: 100vw;
    height: 100vh;
}

.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

.main-card {
    background: #34343d94;
    backdrop-filter: blur(20px);
    color: white;
    width: 30em;
    height: 25em;
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: all .2s ease;
    border-color: #28283099;
}

.main-card:hover {
    background: #34343dbb;
    backdrop-filter: blur(24px);
    transform: scale(1.025);
    border: 1px solid #28283099;
}


.contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


.titles {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 45px;
    margin: 0;
    margin-top: 0px;
    text-align: center;
}

.subtitle {
    margin: 0;
    margin-bottom: 2em;
    font-size: 24px;
    text-align: center;
}

a:not(.link) {
    text-decoration: none;
}


a {
    width: fit-content;
    color: #6fdbff;
    transition: transform .15s ease;
    display: inline-block;
}

p {
    margin: 0;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


button:hover {
    transform: scale(1.05);
}

button:active {
    transform: scale(1);
}


button {
    border: none;
    font-size: 20px;
    color: white;
    padding: 5px;

    border-radius: 4px;
    margin: 5px;
    cursor: pointer;
    user-select: none;

    transition: transform .15s ease;
    width: 200px;
}

.btn-download {
    padding: 15px;
}

.btn-download:not(.nogradient) {
    background: linear-gradient(150deg, rgba(56,160,247,1) 0%, rgba(8,68,144,1) 100%);
}

.btn-download.nogradient {
    background: rgba(8,68,144,1);
}

.btn-docs:not(.nogradient) {
    background: linear-gradient(150deg, rgba(238,169,56,1) 0%, rgba(227,68,24,1) 100%);
}

.btn-docs.nogradient {
    background: rgba(227,68,24,1);
}

.btn-discord:not(.nogradient) {
    background: linear-gradient(150deg, rgba(44,193,250,1) 0%, rgba(18,98,215,1) 100%);
}

.btn-discord.nogradient {
    background: rgba(18,98,215,1);
}

.btn-src:not(.nogradient) {
    background: linear-gradient(150deg, rgba(168,93,255,1) 0%, rgba(80,13,162,1) 100%);
}

.btn-src.nogradient {
    background: rgba(80,13,162,1);
}

.sub {
    display: block;
    font-size: 14px;
}

#gradient-toggle {
    position: absolute;
    left: 15px;
    bottom: 10px;
    width: 32px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
    transition: all .2s ease;
    cursor: pointer;
}

#gradient-toggle:hover {
    border-color: #d1d1d1;
    color: #d1d1d1;
}

#gradient-toggle i {
    transform: translateY(5px);
}